DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/netflixdb
DB_SCHEMA=public
DB_TABLE=gold_netflix_data

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=netflixdb
PGADMIN_DEFAULT_EMAIL= "admin@admin.com"